<!--
  Generated template for the ProductCard page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-card *ngIf=" product.details || product.prices " margin>

  <ion-thumbnail >
   		<img (click)="openProductPage()" src="https://dummyimage.com/600x400/000/fff&text=Product" />
   		<div class="card-price" *ngIf="home" ><div class="price">{{product.details?.min}}$</div></div>
  </ion-thumbnail>

  <ion-card-content >
  	<ion-row>
  	<div col-7 class="title">
  		<h1>{{product.name}}</h1>
      <h3>{{product.details?.location}}</h3>
  	</div>
  	<div col-5>
  		<ion-badge item-end class="confirm blueb">confirm : {{product.details?.min_confirmations.length}}</ion-badge>
  		<ion-badge item-end class="fake">fake : {{product.details?.min_disconfirmations.length}}</ion-badge>
  	</div>
  	</ion-row>
    
	
  </ion-card-content>
  <hr>
  <ion-row>
    <ion-col class="border" > 
      <button ion-button icon-left clear small class="blue" (click)="doConfirm()" block >{{ checkDidConfirm() ? "Disconfirm": "Confirm"}}</button>
    </ion-col>
    <ion-col >
    		<button ion-button icon-left clear small color="danger" (click)="doFake()" block>{{ checkDidDisconfirm() ? "Unfake": "Fake"}}</button>
    </ion-col>
  </ion-row>

</ion-card>