page-search-bar {
	.content{
		background-color: #F7F7F7 !important;
	}
	.search ion-item{
		background-color: transparent;

	}
	ion-input{
		padding:0;
	}
	.camera{
     	height: 30px !important;
     	width: 30px !important;
     	background-color: #B9E838;
     	margin:0px !important;
     }
     .item-inner{
     	border: none !important;
     }
}
