page-search-bar {
	.content{
		background-color: #F7F7F7 !important;
	}
	.search ion-item{
		background-color: transparent;

	}
	ion-input{
		padding:0;
	}
	.camera{
     	height: 30px !important;
     	width: 30px !important;
     	background-color: orange;
     	margin:0px !important;
          box-shadow: none;
     }
     .item-inner{
     	border: none !important;
     }
     ion-item{
     	padding: 0px !important;	
     }
     icon_item{
          height: 35px !important
     }
     ion-label{
          margin: 0px !important;
          width: 30px !important

     }

}
